.heading {
    line-height: 1.25;
}

.color-default {
    color: var(--colors-brand-dune);
}

.color-primary {
    color: var(--colors-brand-palegreen);
}

.size-md {
    font-size: 21px;
}

.size-sm {
    font-size: 16px;
}

.size-xs {
    font-size: 14px;
}